*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#log file
*.log

#target file
target

# Eclipse Settings
.classpath
.settings/

src/main/webapp/
!src/main/webapp/WEB-INF/web.xml

# DB Settings
src/main/resources/db.properties
