<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.netease.roommates.mapper.UserMapper">
	
	<insert id="insertUser" parameterType="user">
		insert into sys_user(userName, pwdMD5Hash, nickName, gender, companyEmail, phoneNumber,
			birthday, address, updateTime, weChat, yixin, QQ, photoId, company, position)
		values(#{userName}, #{pwdMD5Hash}, #{nickName}, #{gender}, #{companyEmail}, #{phoneNumber},
		 	#{birthday}, #{address}, now(), #{weChat}, #{yixin}, #{QQ}, #{photoId}, #{company}, #{position})
	</insert>
	
	<select id="getUserById" parameterType="int" resultType="user">
		select * from sys_user where userId=#{id}
	</select>
	
	<update id="updateUserBasicInfo" parameterType="user">
		update sys_user
		<set>
			<if test="photoId != 0">
				photoId = #{photoId, jdbcType=INTEGER},
			</if>
			<if test="nickName != null">
				nickName = #{nickName, jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender, jdbcType=BIT},
			</if>
			<if test="position != null">
				position = #{position, jdbcType=VARCHAR},
			</if>
			<if test="pwdMD5Hash != null">
				pwdMD5Hash = #{pwdMD5Hash, jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				phoneNumber = #{phoneNumber, jdbcType=VARCHAR},
			</if>
			<if test="companyEmail != null">
				companyMail = #{companyMail, jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company, jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address, jdbcType=VARCHAR},
			</if>
			<if test="weChat != null">
				weChat = #{weChat, jdbcType=VARCHAR},
			</if>
			<if test="QQ != null">
				QQ = #{QQ, jdbcType=VARCHAR},
			</if>
			<if test="yixin != null">
				yixin = #{yixin, jdbcType=VARCHAR},
			</if>
			updateTime = now()
		</set>
		where userId=#{userId}
	</update>
	
	<select id="getUserPersonality" parameterType="int" resultType="personality">
		select * from user_personality where id=#{id}
	</select>
	
	<insert id="insertUserPersonality" parameterType="personality">
		insert into user_personality(userId, smoking, pet, dailySchedule, visitor, constellation,
			cleanliness, personCharacter)
		values(#{userId}, #{smoking}, #{pet}, #{dailySchedule}, #{visitor}, #{constellation},
		 #{cleanliness}, #{personCharacter} )
	</insert>
	
	<update id="updateUserPersonality" parameterType="personality">
		update user_personality
		<set>
			<if test="smoking != 0" >
				smoking = #{smoking, jdbcType=INTEGER},
			</if>
			<if test="pet != 0" >
				pet = #{pet, jdbcType=INTEGER},
			</if>
			<if test="dailySchedule != 0" >
				dailySchedule = #{dailySchedule, jdbcType=INTEGER},
			</if>
			<if test="visitor != 0" >
				visitor = #{visitor, jdbcType=INTEGER},
			</if>
			<if test="constellation != null" >
				constellation = #{constellation, jdbcType=VARCHAR},
			</if>
			<if test="cleanliness != 0" >
				cleanliness = #{cleanliness, jdbcType=INTEGER},
			</if>
			<if test="personCharacter != 0" >
				personCharacter = #{personCharacter, jdbcType=INTEGER},
			</if>
			updateTime = now()
		</set>
		where id=#{id}
	</update>
	
	<select id="getUserListByAddress" parameterType="String" resultType="user">
		select * from sys_user where address=#{address}
	</select>


	<select id="getUserByName" parameterType="String" resultType="user">
		select * from sys_user where userName=#{name}
	</select>
	
	<select id="getUserByEmail" parameterType="String" resultType="user">
		select * from sys_user where companyEmail=#{email}
	</select>
</mapper>