<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.netease.roommates.mapper.UserMapper">
	<select id="getUserById" parameterType="int" resultType="user">
		select * from user_info where id=#{id}
	</select>
	<insert id="insertUser" parameterType="user">
		insert into user_info values(#{id}, #{name})
	</insert>
</mapper>